<mat-toolbar>
    <mat-toolbar-row>
        <div class="row between-xs middle-xs header-row">
            <nav>
                <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
                <a mat-button routerLink="/character" routerLinkActive="active">Character</a>
                <a mat-button routerLink="/pokemon" routerLinkActive="active">pokemons</a>
            </nav>
            <a mat-raised-button matBadge="4" matBadgeColor="warn">
                <mat-icon>favorite</mat-icon> love
            </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>