<mat-card class="product-card">
    <mat-card-header>
        <mat-card-title>Esto es un titulo</mat-card-title>
        <mat-card-subtitle>Subtitulo</mat-card-subtitle>
    </mat-card-header>
    <div class="crop-image">
        <img mat-card-image src="https://rickandmortyapi.com/api/character/avatar/155.jpeg" alt="">

    </div>
    <mat-card-content>
        <p>relating to or characteristic of a whole group or class : general "Romantic comedy" is the generic term for such films. b : not being or having a particular brand name generic drugs. c : having no particularly distinctive quality or application
            generic restaurants</p>
        <p>Otro valor</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button class="btnDetalle">Detalle</button>
    </mat-card-actions>
</mat-card>