<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="box">
                    <form>
                        <mat-form-field class="example-full-width">
                            <mat-label> Contactos </mat-label>
                            <input type="text" matInput placeholder="Example : roni.canche@gmail.com" style="color:black">
                        </mat-form-field>
                        <button mat-raised-button color="secondary">Enviar</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>